
  
form {
    padding: 60px;
    background-image: radial-gradient(circle at 28.27% 31.77%, #ffff43 0, #ffff31 16.67%, #ffff20 33.33%, #edeb0c 50%, #b8c500 66.67%, #8ba200 83.33%, #648200 100%);
    border-radius: 15px;
  }
  
#formulario-contacto .form-block {
    width: 100%;
    margin-bottom: 15px;
  }
  
#formulario-contacto .form-block .form-control {
    display: block;
    height: 40px;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;
  }
  
#formulario-contacto .form-block textarea {
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
    /*No se puede dimensionar el textarea*/
    resize: none;
  }
  
  




  .seccion2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }


  
header .container {
    /*
    Aprovecha el espacio que tenga el elemento para acomodar a sus elementos hijos en este caso es el elemento a y el nav
    */
    display: flex;
    /*
    Distribuye el espacio entre los elementos flex en el eje x, distribuye los items uniformemente, el primer item al inicio, el ultimo al final
    */
    justify-content: space-between;
  }
  
  header .container .logo {
    width: 100px;
  }
  
  header .container nav a {
    color: red;
    margin: 0 15px;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    /*
    Puede mover con top, bottom, left, right y z-index no moviendo los otros elementos que tienen cerca, en su lugar se queda un contenido invisible, cuando se mueve el elemento que tiene position: relative
    */
    position: relative;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
  }
  

  .row {
    display: flex;
    /*Si una columna no entra, esa columna va hacia abajo*/
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }



  /*Validacion del formulario*/

.formulario-input-error {
  margin-left: 5px;
    font-size: 15px;
    margin-bottom: 0;
    color: black;
    display: none;
  }

  .formulario-input-error-activo{
    display:block;
  }
  
  
  .form-control-error {
    border: 3px solid orange;
  }


  .formulario-mensaje-exito {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #119200;
    display: none;
  }
  
  .formulario-mensaje-exito-activo {
    display: block;
  }

  .ocultar-activo{
    display: block;
  }