/*  ACAD IMPORTABA EL ESTILO DESDE GOOGLE FONTS PERO YA NO ES NECESARIO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}


.logo2{
    width: 50px;
    height: 50px;
}


iframe{
    width: 100%;
    display: flex;
    height: 700px;
}




/* SECCION DE ESTILOS DEL CUSTOM SCROOLBAR */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





/* TODO EL CONTENIDO SIMILAR A LA APLICACION DE ESTILOS */
section{
    padding: 100px 0;
}






.max-width{
    max-width: 100%;
    padding: 0 90px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Sedgwick Ave', cursive;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(255, 0, 0);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}






/* SECCION DE ESTILOS DEL NAVBAR */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Sedgwick Ave', cursive;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(255, 0, 0);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-size: 35px;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(255, 0, 0);
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}






/*  SECCION DE ESTILOS DEL MENU */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(255, 0, 0);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}







/* SECCION DE ESTILOS DEL HOME */
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sedgwick Ave', cursive;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(255, 0, 0);
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: rgb(255, 0, 0);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(255, 0, 0);
    background: none;
}





/* SECCION DE ESTILOS DE ACERCA DE... */
.about .title::after{
    content: "AdelArt";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 5px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(255, 0, 0);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(255, 0, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(255, 0, 0);
    background: none;
}







/* SECCION DE ESTILOS DE LOS SERVICIOS */
.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "Conocimientos";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: rgb(255, 0, 0);
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: rgb(255, 0, 0);
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}









/* SECCION DE ESTILOS DE HABILIDADES */

.skills .title::after{
    content: "Pablo";
}
.skills .skills-content .column{
    width: calc(50% - 40px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(255, 0, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: rgb(255, 0, 0);
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 0, 0);
}
.skills-content .right .html::before{
    width: 60%;
}
.skills-content .right .css::before{
    width: 40%;
}
.skills-content .right .js::before{
    width: 40%;
}
.skills-content .right .php::before{
    width: 75%;
}
.skills-content .right .mysql::before{
    width: 30%;
}









/* SECCION DE ESTILOS DE TEMA */
.teams .title::after{
    content: "Proyectos";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: rgb(255, 0, 0);
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 0, 0);
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: rgb(255, 0, 0)!important;
}







/* SECCION DE ESTILOS DE CONTACTO */
.contact .title::after{
    content: "Contactenos";
}
.contact .contact-content .column{
    width: calc(50% - 20px);
}
.contact .contact-content .text{
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(255, 0, 0);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}

.contact .right {
    padding: 20px 40px;
    border-radius: 5%;
    background-image: radial-gradient(circle at 28.27% 31.77%, #ffff43 0, #ffff31 16.67%, #ffff20 33.33%, #edeb0c 50%, #b8c500 66.67%, #8ba200 83.33%, #648200 100%);
}

.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  transition: all 0.3s ease;
}

.right form .button-area button:hover{
  color: rgb(255, 0, 0);
  background: none;
}


button[disabled],
 button[disabled]:hover {
    background-color: #d1d3d4!important;
    color: #fff;
    border: 0 none;
 }








/* SECCION DE ESTILOS DEL FOOTER */
footer{
    background: #111;
    padding:50px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot{
    width: 50%;
}




/* DESDE ACA ES EL EFECTO DE LOS ENLACES DE ABAJO */
.enlace_contact {
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .icon-link{
    margin-bottom: 40px;
  }
  /* .icon-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
  } */

  #apple,
  #twitter,
  #github,
  #facebook {
	font-size: 7em;
	background-color: #18191f;
	color: #fff;
	box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
	  2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
	  inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
	  inset 2px 2px 10px #00000080;
	border-radius: 29px;
	padding: 11px 19px;
	margin: 0 40px;
	animation: animate 3s linear infinite;
	text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
	  0 0 200px #0072ff;
  }

  
  #twitter {
	animation-delay: 0.3s;
  }
  #facebook {
	animation-delay: 0.7s;
  }
  #github {
	animation-delay: 0.1s;
  }
  
  @keyframes animate {
	from {
	  filter: hue-rotate(0deg);
	}
	to {
	  filter: hue-rotate(360deg);
	}
  }
  




















































/* DISEÑO RESPONSIVO DE MEDIA QUERY */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 60%;
        width: 60%;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    footer{
        flex-direction: column;
        width: 100%;
    }

    .pablo-contact{
        margin-bottom: 80px;
    }

    #apple,
    #twitter,
    #github,
    #facebook {
        font-size: 8em;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }


    
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    
    .contact .right{
        padding: 5px 5px;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}




@media (max-width: 300px) {
    .home .home-content .text-2{
        font-size: 30px;
    }
    .home .home-content .text-3{
        font-size: 23px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 20px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .max-width{
        max-width: 100%;
        padding: 0 30px;
        margin: auto;
    }
}






